.tick-btn {
    margin-right: 5px;
}

html {
    font-family: sans-serif;
}

li {
    list-style: none;
    margin: 15px 0;
}

ul {
    padding: 0;
}

label {
    padding-right: 10px;
}

.pub-date {
    display: none;
}

.container {
    padding: 0 50px;
}

.container ul {
    margin-top: 35px;
}

.timer {
    font-weight: bold;
    padding-right: 10px;
}

.team-submit {
    width: 300px;
    margin: 30px auto;
}

.team-list {
    width: 200px;
    margin: 30px auto;
}

.stop-btn {
    width: 100px;
    margin-left: 15px;
    margin-bottom: 50px;
}

.live {
    color: green;
    padding-right: 32px;
}

.close {
    color: red;
}

.chat-list {
    margin: 50px;
}

.chat-list .entry {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-list .entry .chatname {
    width: 300px;
}